body{
    margin:0;
    padding:0;
}


/*RESPONSIVE*/
@media screen and (max-width: 780px) {
    .container {
        width:100% !IMPORTANT;
    }
}

.formDiv input{
   display:inline-block;
   clear:both;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: no-repeat;
    background: no-repeat;
    background-size:cover;
}

header{
   background: rgba(0, 0, 0, 0.8);
   color:white;
   z-index: 200;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   padding: 10px 0;
   box-shadow: 0 1px 3px 0 rgba(64,70,77,0.3);
}

.logout{
    color:white;
}


.logo{
    margin-top:80px;
    margin-bottom:150px;
    height:250px;
}
/*INPUT FIELDS*/
#movie, #restaurant{
	width:650px;
}

#zip{
	width:100px;
}

#state,#city{
    width:100px;
}

#address{
    width:500px;
    margin:0;
}

input {
   line-height: normal;
   max-width: 200px;
}

/*OUTPUTS*/
.outputDiv{
    margin-top:100px;
	margin-bottom:50px;
	background: rgba(0, 0, 0, 0.8);
    color: #fff;
	padding:100px;
	height:600px;
    width:100%;
}

.restaurantOutput{
       height:400px;
       overflow:auto;
       overflow:scroll;
}


.bottom-sheet{
    height:600px;
    background: rgba(0, 0, 0, 0.9) !IMPORTANT;
    color:white;
}

.input-field{
    width:60px;
    margin:0px !IMPORTANT;
    position:relative;
}
.movieSquare{
	width:50px;
	height:100px;
	background-color:black !IMPORTANT;

}

/*MODALS*/
.outputsChoices{
    width:100%;
    height:300px;
}
.movieRestoModal{
    width:60%;   
    height:350px;
}
.movieOutputModal{
    width:100%;
    height:150px;
}
.restaurantOuputModal{
    width:100%;
    height:150px;
}
.mapOutputModal{
    height:300px;
    width:35%;
}



/*---------------------------headers---*/
header {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    box-shadow: 0 1px 3px 0 rgba(64,70,77,0.3);
    z-index: 1;
}


.headerinput {
    margin-left: 2%;
    display: block;
    float:left;
}


.headerselect{
    display: block;
    float: left;
    margin: 0 5px 0 5px;
    color: red;
}

.searchselect {
    display: block;
    position: relative;
    color: red;
    float: left;
}

.inputbox {
    width:20px;
    color:white;
}


.select-wrapper {
    width: 100px;
}
.select-style {
    position:relative;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-wrapper input.select-dropdown {
    text-align: center;
}


.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
width: 180px;

}

.headerbutton{
    float:left;
    margin-right:2%;
}

.red.lighten-3 {
    background-color: #EF9A9A !important;
    margin-top: 7px;
    margin-left: 4px;
}




/*----------headers---*/