
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

#movie, #restaurant{
	width:650px;

}

form{
    padding-top:20px;
}

#zip{
	width:50px;
}

#searchcriteria{
    width:100px;
    padding:0;
}

#state,#city{
    width:80px;
}

#address{
    width:400px;
}

.formDiv{
	background: rgba(0, 0, 0, 0.9);
    color: #fff;
	height:125px;
    margin-bottom:200px;
}

.outputDiv{
	margin-bottom:100px;
	background: rgba(0, 0, 0, 0.8);
    color: #fff;
	padding:100px;
	height:500px;
}

.restaurantOutput{
    overflow:scroll;
}

.movieOutput{
    overflow:scroll;
}

.bottom-sheet{
    height:600px;
    background: rgba(0, 0, 0, 0.9) !IMPORTANT;
    color:white;
}

.input-field{
    width:50px;
}
.movieSquare{
	width:50px;
	height:100px;
	background-color:black !IMPORTANT;

}
